In [1]:
import pandas as pd
import numpy as np

In [3]:
raw_data = pd.read_csv(filepath_or_buffer='../Solo3/input_data/complete_cust_data.csv')

C:\Users\hw831\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (172,179,211,215,217,219,220) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
raw_data.groupby('LEARNING_TEST').

,ZIP,ZIP4,LTD_SALES,LTD_TRANSACTIONS,YTD_SALES_2009,YTD_TRANSACTIONS_2009,ZIP9_Supercode,DPBC,INC_SCS_AMT_V4,INC_WOUTSCS_AMT_4,...,RESPONSE7,RESPONSE8,RESPONSE9,RESPONSE10,RESPONSE11,RESPONSE12,RESPONSE13,RESPONSE14,RESPONSE15,RESPONSE16
LEARNING_TEST,,,,,,,,,,,,,,,,,,,,,
LEARNING,1.201522e+09,66103940.0,23724630.0,92056,4421193,16748,11968438834936,6928428.0,2746030,2748805,...,945,1056,819,702,742,694,1355,684,918,1673
TEST,6.474971e+08,36081377.0,13328979.0,50909,2492970,9240,6441373048107,3703942.0,1472125,1479142,...,544,598,448,382,396,380,772,406,490,919

In [47]:
del raw_data['INC_WOUTSCS_AMT_4']

In [48]:
raw_data.index

RangeIndex(start=0, stop=30779, step=1, name='A')

In [52]:
df2 = raw_data.set_index('BUYER_STATUS')

In [53]:
df2.sum(level='BUYER_STATUS')

,ZIP,ZIP4,LTD_SALES,LTD_TRANSACTIONS,YTD_SALES_2009,YTD_TRANSACTIONS_2009,ZIP9_Supercode,DPBC,INC_SCS_AMT_V4,FIPSSTCD,...,RESPONSE7,RESPONSE8,RESPONSE9,RESPONSE10,RESPONSE11,RESPONSE12,RESPONSE13,RESPONSE14,RESPONSE15,RESPONSE16
BUYER_STATUS,,,,,,,,,,,,,,,,,,,,,
ACTIVE,817160542.0,49036235.0,25119270.0,94180,6914163,25988,8136816343605,4736632.0,1918414,231234,...,1489,1654,1267,1084,1138,1074,2127,1090,1408,2592
INACTIVE,550349739.0,27708623.0,5201553.0,20752,0,0,5475300366793,3074133.0,1237885,155737,...,0,0,0,0,0,0,0,0,0,0
LAPSED,481508721.0,25440459.0,6732786.0,28033,0,0,4797695172645,2821605.0,1061856,136272,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df2.dropna()

Empty DataFrame
Columns: [ACCTNO, ZIP, ZIP4, LTD_SALES, LTD_TRANSACTIONS, YTD_SALES_2009, YTD_TRANSACTIONS_2009, CHANNEL_ACQUISITION, ZIP9_Supercode, CRRT, DPBC, FILLER, READ_ALL_TYPES, BOOK_CLUB, VIDEO_CLUB, AMEX_PREM, AMEX_REG, DEBIT_CC, DISC_PREM, DISC_REG, OTHER_PREM_CC, OTHER_REG_CC, STORE_REG_CC, VISA_PREM, VISA_REG, GAS_CC, MC_PREM, MC_REG, MAJOR_CC, ANIMAL_WELFARE, CHILD_WELFARE, CULTURE_ACTIVE, ENVIRONMENTAL, HEALTH_RELATED, POLITICAL, RELIGIOUS_CONTRIB, SOCIAL_SERVICE, CD_MM_CURRENT, IRA_CURRENT, RE_CURRENT, STOCK_BOND_CURRENT, VETERAN, COMPUTER_ELECTRONIC, HOME_GARDEN, SPORTS_RELATED, HH_CONTACT_LENSES, INC_SCS_AMT_V4, INC_WIOUTSCS_V4, INC_WITHSCS_V4, FIPSSTCD, FIPSCNTY, TRACT, BLOCK, BLOCK_ID, MCD_CCD, CBSA_CD, LAT, LONG, LEVEL_LAT_LONG, POPUND10, POP_UN18, POPUND25, POP25_34, POP35_44, POP45_54, POP55_64, POP65_P, POP75_UP, POP18_65, MEDIANAGE, PHHWHITE, HH_BLACK, P_ASIAN, HH_HISPA, P_NONHISP, HH_WH_HI, HH_BK_HI, P_HHFAMI, POP_SPOSHHS, POP_CHLDHHS, POP_ADPCHLDFAM, POP_NOFAMHHS, P_HHNOHISWHT, P_FAMHHCHILD, P_FEMALE, P_FAMHHNOCHD, P_MARRY, P_DU_OCCU, P_OWNOCC, P_RENTER, POP_URBAREA, POP_URBCLUS, POP_RURFARM, POP_RURNOFARM, P_HHINCOLES10M, P_HHINCOM10_14, P_HHINCOM15_19, P_HHINCOM20_24, P_HHINCOM25_29, P_HHINCOM30_34, ...]
Index: []

[0 rows x 552 columns]